<header>
  <nav class="navbar navbar-expand fixed-top">
    <div class="container-fluid">
      <div class="logo">
        <a href="#">
          <img src="/assets/images/logo.png" alt="logo" class="img-fluid" />
        </a>
      </div>
      <button class="nav-toggle">
        <i class="fas fa-bars fs-4"></i>
      </button>
      <div class="nav-container">
        <ul class="nav">
          <li>
            <a href="#intro">Intro</a>
          </li>
          <li>
            <a href="#about">About</a>
          </li>
          <li>
            <a href="#tools">Tools</a>
          </li>
          <li>
            <a href="#projects">Projects</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
