#about {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-color: #120e16;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../image/bg-sd.png");
}

#about .container {
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

#about .container h1 {
  text-align: center;
}

#about .container div {
  text-align: left;
  color: white;
  padding: 20px;
}

#about .container img {
  border-radius: 10px;
}

#about .container img:hover {
  box-shadow: 0px 0px 15px #777777;
}