header {
    z-index: 2;
    width: 100%;
    height: auto;
    overflow: auto;
    position: fixed;
    background-color: rgb(18,14,22);
    box-shadow: 0px 0px 15px rgb(152, 54, 250);
}

header ul {
    left: 5%;
    float: left;
    padding: 0%;
    position: relative;
}

header ul li {
    display: inline-block;
}

header ul img {
    width: 40px;
    height: 40px;
}

header nav {
    right: 5%;
    float: right;
    color: white;
    position: relative;
    margin-top: 5px;
}

header nav li.text {
    padding: 5px;
    font-size: 120%;
    border: solid rgb(18,14,22);
}

header nav li.text:hover {
    border-color: #81f;
    transition: border-color 0.5s;
}

header nav li.text a {
    color: white;
    text-decoration: none;
}

header nav li.line {
    width: 30px;
    height: 1px;
    vertical-align: middle;
    background-color: #81f;
}