html {
  scroll-behavior: smooth;
}

body {
  margin: 0%;
}

.page {
  width: 100%;
  height: 100vh;
}

#home {
  position: static;
  text-align: center;
  background-color: #120e16;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../image/bg-sd.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#home .content {
  position: absolute;
  width: 90%;
  padding: 10px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#home .content .myimg {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 170px;
}

#home .content .myname {
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 50px;
  color: white;
  margin-bottom: 30px;
}

#home .content .mylinks {
  margin: 20px;
  font-size: large;
}

#home .content .mylinks a {
  color: rgb(146, 146, 146);
  text-decoration: none;
  padding: 5px;
}

#home .content .mylinks a :hover {
  color:white;
}

#home .arrow {
  position: relative;
  top: 90%;
}

#home .arrow a {
  color: rgb(146, 146, 146);
  text-decoration: none;
}

#home .arrow a :hover {
  color:white;
}

#about {
  position: relative;
  background: #1a171e;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../image/bg-sd.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#about .content {
  position: inherit;
  text-align: center;
  padding: 10%;
  width: auto;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0));
}

#about .content .myimg {
  width: 200px;
  height: 200px;
  margin: 5px;
  border-radius: 170px;
}

#about .content .brief {
  font-size: x-large;
  color: white;
  margin: 50px;
}

#tools {
  text-align: center;
  position: relative;
  background: #120e16;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../image/bg-sd.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#tools .content {
  position: inherit;
  padding: 10%;
  width: auto;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: x-large;
  color: white;
}

#tools .arrow {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#tools .arrow a {
  color: rgb(146, 146, 146);;
  text-decoration: none;
}

#tools .arrow a :hover {
  color: white;
}

footer {
  text-align: center;
  width: 100%;
  height: 50px;
  color: white;
  background-color: #120e16;
}


@media only screen and (max-width: 450px) {
  #home .content .myname {
    font-size: 35px;
  }

  #home .content .mylinks {
    font-size: medium;
  }
}