html {
  scroll-behavior: smooth;
}

header {
  position: fixed;
  width: 100%;
  height: 50px;
  padding: 10px;
  left:0%;
  top:0%;
  z-index: 1;
  background-color: rgb(18,14,22);
  box-shadow: 0px 0px 15px rgb(152, 54, 250);
}

header .logo a img {
  position: fixed;
  max-height: 40px;
  max-width: 40px;
  left: 10%;
  padding-top: 5px;
}

header .navi {
  position: fixed;
  right: 10%;
  font-size: large;
  float :right;
}

header .navi .line{
  vertical-align: middle;
  color: #81f;
}

header .navi ul a {
  color: white;
  text-decoration: none;
} 

header .navi ul :hover {
  color: #81f;
}

header .navi ul li {
  display: inline;
  padding: 10px;
}

body {
  margin: 0%;
}

.page {
  width: 100%;
  height: 100vh;
}

#home {
  position: static;
  text-align: center;
  background-color: #120e16;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../image/bg-sd.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#home .content {
  position: absolute;
  width: 90%;
  height: auto;
  max-height: 90vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#home .content .myname {
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 50px;
  color: white;
  margin-bottom: 30px;
}

#home .content .mylinks {
  margin: 20px;
  font-size: large;
}

#home .content .mylinks a {
  color: white;
  text-decoration: none;
  padding: 5px;
}

#home .content .mylinks a :hover {
  color:rgb(255, 0, 255);
  transition: color 0.5s;
}

#home .arrow {
  position: relative;
  width : 45px;
  height : 45px;
  top: 80%;
  left: 50%;
  padding: 10px;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,0);
  border-radius: 100px;
}

#home .arrow a {
  color: white;
  text-decoration: none;
}

#home .arrow a :hover {
  transition: color 0.5s;
  color:rgb(255, 0, 255);
}

#about {
  position: static;
  background: rgb(18,14,22);
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../image/bg-sd.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#about .content {
  position: relative;
  text-align: center;
  width: 80%;
  height: auto;
  padding: 20px;
  max-height: 90vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(18,14,22, 0.95);
  border-radius: 10px;
  background-color: rgb(18,14,22);
}

#about .content .myimg {
  width: 200px;
  height: 200px;
  margin: 5px;
  border-radius: 170px;
}

#about .content .brief {
  font-size: 150%;
  color: white;
  margin: 50px;
}

#tools {
  text-align: center;
  position: static;
  background: rgb(18,14,22);
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../image/bg-sd.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#tools .content {
  position: relative;
  width: 80%;
  height: auto;
  max-height: 90vh;
  padding: 15px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgb(18,14,22, 0.95);
  border-radius: 10px;
}

#tools .content .text {
  font-size: x-large;
  padding: 20px;
}

#tools .content .stats {
  margin-left: auto;
  margin-right: auto;
}

#tools .content .stats img {
  max-width: 80%;
}

footer {
  text-align: center;
  width: 100%;
  height: 50px;
  color: white;
  background-color: #120e16;
  box-shadow: 0px -1px 15px rgb(152, 54, 250);
}

footer .text {
  padding-top: 15px;
}

@media only screen and (max-width: 650px) {
  #home .content .myname {
    font-size: 150%;
  }

  #home .content .mylinks {
    font-size: 80%;
  }

  #about .content .brief {
    font-size: 100%;
  }

  #tools .content .text {
    font-size: 100%;
  }
}

/* This part contains non standard css styles */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(18,14,22);
}

::-webkit-scrollbar-thumb{
  background-color: #81f;
  border-radius: 5px;
}