#tools {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-color: #120e16;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../image/bg-sd.png");
}

#tools .container {
  width: auto;
  height: auto;
  min-width: 400px;
  max-height: 500px;
  overflow-y: scroll;
}

#tools .container ul::before {
  content: "Tools";
  display: block;
  width: 30%;
  padding: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color: white;
  background-color: #81f;
}

#tools .container ul {
  padding: 0;
}

#tools .container ul li {
  width: 10px;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  background-color: #81f;
  position: relative;
  padding-top: 50px;
}

#tools .container ul li::after {
  content: '';
  width: 40px;
  height: 40px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color:inherit;
  position: absolute;
  border-radius: 100px;
}

#tools .container ul li:nth-child(even) div {
  text-align: center;
  color: white;
  width: 100px;
  bottom: 0;
  position: relative;
  padding: 10px;
  left: 40px;
  background-color: #81f;
}

#tools .container ul li:nth-child(odd) div {
  text-align: center;
  color: white;
  width: 100px;
  bottom: 0;
  position: relative;
  padding: 10px;
  left: -150px;
  background-color: #81f;
}